@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
}

.banner p,
.our-featured p,
.great-tea p,
.client p,
.news-and-events p,
footer p{
    color: #777777;
}

h2{
    font-size: 45px;
}
h3{
    font-size: 25px;
}
h4{
    font-size: 20px;
}
p{
    font-weight: 400;
    font-size: 16px;
}

#super-client-heading{
    color: white;
}
#super-client-subheading{
    color: white;
}
